﻿@model ProductCatalog.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>New product</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<form class="needs-validation">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required>
    </div>
    <div class="form-group row">
        <label for="r1" class="col-sm-2 col-form-label">Priority</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priority" id="r1" value="low" required>
            <label class="form-check-label" for="r1">Low</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="priority" id="t3" value="high" required>
            <label class="form-check-label" for="r3">High</label>
        </div>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-success" />
        <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
    </div>
</form>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

