﻿@model IEnumerable<ProductCatalog.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Name</h4>
            </th>
            <th>
                <h4>Priority</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priority)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id=item.Id })" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
